<form [formGroup]="form">
  <div class="container text-center">
    <div>
      <h1 class="display-1">Adauga o programare</h1>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <label>
          <input matInput [matDatepicker]="picker" formControlName="input">
        </label>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <input placeholder="Alege ora" aria-label="24hr format" [ngxTimepicker]="fullTime" readonly [format]="24" formControlName="timeForm">
      <ngx-material-timepicker #fullTime></ngx-material-timepicker>
    </div>
    <br>
    <div class="input-border">
      <mat-form-field appearance="fill">
        <mat-label>Persoana</mat-label>
        <mat-select formControlName="user">
          <mat-option *ngFor="let cat of users" [value]="cat">
            {{cat.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>

    <div>
      <button class="btn btn-primary" (click)="onClick()">Apasa</button>
    </div>
  </div>
</form>


