<div >
  <section class="hero">
    <div class="container">
      <div class="left-col">
        <p class="subhead">Georgescu Ion</p>
        <h1>Din suflet, pentru suflete...</h1>

        <div class="hero-cta"></div>

        <a href="https://www.youtube.com/watch?v=9AX1XwKCYQE" class="watch-video">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
          </svg>
          Află mai multe despre sarcină
        </a>
      </div>
    </div>
    <img [src]="babyPic" class="hero-img" alt="baby">
  </section>
  <section class="consultatii-section">
    <div class="container">
      <ul class="consultatii-list">
        <li>Examen ginecologic- anual</li>
        <li>Examen bacteriologic al secreției vaginale- anual</li>
        <li>Examen citologic Babeș Papanicolau- anual</li>
        <li>Ecografie transvaginală- la recomandarea medicului</li>
        <li>Examen clinic al sânilor- o dată la 3 ani( până în 30 de ani)</li>
        <li>Examen clinic al sânilor- anual( după vârsta de 30 de ani)</li>
        <li>Test HPV</li>
        <li>Mamografie anuală bilaterală( dupa vârsta de 40 de ani)</li>
      </ul>

      <img [src]="doctorPic" alt="Doctor">
    </div>
  </section>

  <section class="testimonials-section">
    <div class="container">
      <ul>
        <li>
          <img [src]="woman1" alt="Person">

          <blockquote>"Un medic profesionist, multă calmitate și toate întrebările mi-au fost răspunse cu mult profesionalism."</blockquote>
          <cite>- Loredana Ozsvath</cite>
        </li>
        <li>
          <img [src]="woman2" alt="Person">

          <blockquote>"Domnul doctor a avut multă răbdare cu mine si m-a ajutat să îmi inteleg problema."</blockquote>
          <cite>- Alina Matei</cite>
        </li>
        <li>
          <img [src]="woman3" alt="Person">

          <blockquote>"Cabinetul a fost ușor de găsit, iar serviciile de cea mai bună calitate."</blockquote>
          <cite>- Camelia Florescu</cite>
        </li>
      </ul>
    </div>
  </section>

  <section class="contact-section">
    <div class="container">
      <div class="contact-left">
        <h2>Contact</h2>
        <p>Număr de mobil: 0721751002</p>
        <p>Număr de telefon fix: 0350415642</p>
      </div>
      <div class="contact-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11266.824313647392!2d24.3736125!3d45.0917531!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd172cd7a99d79604!2sCabinet%20Ginecologie%20Dr%20Georgescu%20Ion!5e0!3m2!1sro!2sro!4v1617291118581!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

    </div>
  </section>
</div>
