section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    letter-spacing: 0.3em;
  }

  h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
  }

  .hero-cta {
    display: block;
    margin-top: 1em;

    img {
      width: 2em;
      padding-right: 2em;
    }
  }
}

.hero-img {
  width: 40%;
  margin-top: 3em;
}

section.consultatii-section {
  background: #20272e;
  color: white;
}

ul.consultatii-list {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

  li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;

    &:before {
      content: '';
      left: -2em;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url('../../assets/images/bulletlist.jpg');
      background-size: contain;
      margin-right: 0.5em;
    }
  }
}

.consultatii-section img {
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  color: white;

  li {
    background: #039e44;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;

    img {
      width: 5em;
      height: 5em;
      border: 5px solid #039e44;
      border-radius: 50%;
      margin-top: -4.5em;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  section {
    padding: 10em 4em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;

    .left-col {
      margin: 3em 0 0 5em;
      position: relative;

      h1 {
        font-size: 3em;
        width: 90%;
      }
    }
  }

  .hero-img {
    width: 30%;
    margin: 0;
    position: absolute;
    right: 3em;
    bottom: 0;
    top: 18em;
  }

  .hero-cta {
    display: flex;
  }

  ul.consultatii-list {
    display: block;
    margin-left: 5em;

    li {
      font-size: 1.4em;

      &:before {
        width: 30px;
        height: 30px;
      }
    }
  }
  .consultatii-section {
    position: relative;
  }

  .consultatii-section img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -2em;
  }

  .testimonials-section ul {
    display: flex;

    li {
      margin: 0 1em;
    }
  }

  .contact-section {
    position: relative;
    background-color: white;

    .container {
      display: flex;
    }
  }

  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;

    iframe {
      height: 100%;
    }
  }

}
